<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contract.mapper.ShareMapper">
  <resultMap id="BaseResultMap" type="com.contract.domain.Share">
    <id column="share_id" jdbcType="INTEGER" property="shareId" />
    <result column="share_admin" jdbcType="VARCHAR" property="shareAdmin" />
    <result column="share_type" jdbcType="VARCHAR" property="shareType" />
    <result column="share_begin_date" jdbcType="TIMESTAMP" property="shareBeginDate" />
    <result column="share_end_date" jdbcType="TIMESTAMP" property="shareEndDate" />
    <result column="share_has_password" jdbcType="BIT" property="shareHasPassword" />
    <result column="share_password" jdbcType="VARCHAR" property="sharePassword" />
    <result column="share_delete" jdbcType="BIT" property="shareDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    share_id, share_admin, share_type, share_begin_date, share_end_date, share_has_password, 
    share_password, share_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from share
    where share_id = #{shareId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from share
    where share_id = #{shareId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.contract.domain.Share">
    insert into share (share_id, share_admin, share_type, 
      share_begin_date, share_end_date, share_has_password, 
      share_password, share_delete)
    values (#{shareId,jdbcType=INTEGER}, #{shareAdmin,jdbcType=VARCHAR}, #{shareType,jdbcType=VARCHAR}, 
      #{shareBeginDate,jdbcType=TIMESTAMP}, #{shareEndDate,jdbcType=TIMESTAMP}, #{shareHasPassword,jdbcType=BIT}, 
      #{sharePassword,jdbcType=VARCHAR}, #{shareDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.contract.domain.Share">
    insert into share
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shareId != null">
        share_id,
      </if>
      <if test="shareAdmin != null">
        share_admin,
      </if>
      <if test="shareType != null">
        share_type,
      </if>
      <if test="shareBeginDate != null">
        share_begin_date,
      </if>
      <if test="shareEndDate != null">
        share_end_date,
      </if>
      <if test="shareHasPassword != null">
        share_has_password,
      </if>
      <if test="sharePassword != null">
        share_password,
      </if>
      <if test="shareDelete != null">
        share_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shareId != null">
        #{shareId,jdbcType=INTEGER},
      </if>
      <if test="shareAdmin != null">
        #{shareAdmin,jdbcType=VARCHAR},
      </if>
      <if test="shareType != null">
        #{shareType,jdbcType=VARCHAR},
      </if>
      <if test="shareBeginDate != null">
        #{shareBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shareEndDate != null">
        #{shareEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shareHasPassword != null">
        #{shareHasPassword,jdbcType=BIT},
      </if>
      <if test="sharePassword != null">
        #{sharePassword,jdbcType=VARCHAR},
      </if>
      <if test="shareDelete != null">
        #{shareDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.contract.domain.Share">
    update share
    <set>
      <if test="shareAdmin != null">
        share_admin = #{shareAdmin,jdbcType=VARCHAR},
      </if>
      <if test="shareType != null">
        share_type = #{shareType,jdbcType=VARCHAR},
      </if>
      <if test="shareBeginDate != null">
        share_begin_date = #{shareBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shareEndDate != null">
        share_end_date = #{shareEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shareHasPassword != null">
        share_has_password = #{shareHasPassword,jdbcType=BIT},
      </if>
      <if test="sharePassword != null">
        share_password = #{sharePassword,jdbcType=VARCHAR},
      </if>
      <if test="shareDelete != null">
        share_delete = #{shareDelete,jdbcType=BIT},
      </if>
    </set>
    where share_id = #{shareId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.contract.domain.Share">
    update share
    set share_admin = #{shareAdmin,jdbcType=VARCHAR},
      share_type = #{shareType,jdbcType=VARCHAR},
      share_begin_date = #{shareBeginDate,jdbcType=TIMESTAMP},
      share_end_date = #{shareEndDate,jdbcType=TIMESTAMP},
      share_has_password = #{shareHasPassword,jdbcType=BIT},
      share_password = #{sharePassword,jdbcType=VARCHAR},
      share_delete = #{shareDelete,jdbcType=BIT}
    where share_id = #{shareId,jdbcType=INTEGER}
  </update>
</mapper>