/* 改变主题色变量 */
$--color-primary: #E1140A;
$--color-success: #008500;
$--color-warning: #FF986E;
$--color-danger: #9068BE;
$--color-info: #56423D;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";